<div class="jumbotron mt-4">
    <h1 class="display-4">Juan</h1>
    <div class="lead">Lorem ipsum</div>
    <hr class="my-4">
    <p>lorenlorem</p>
    <a href="" class="btn btn-primary btn-lg">redirect</a>
</div>
